html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 4rem 0 0 0;
}

h1,h2,h3,h4 {
  font-weight: normal;
}

.navbar {
  position: fixed;
  display: flex;
  flex-flow: row;
  align-items: center;
  top: 0;
  width: 100%;
  height: 4rem;
  margin-bottom: 0px;
  background: #212121;
}

.spacer {
  flex: 1 1 auto;
}

.navbar-brand {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
  padding: 10px 10px;
  height: 50px;
  font-family: Timeburner;
  font-size: 24px;
  z-index: 100;
  color: #FFF;
  text-decoration: none;
}

.navbar-brand img {
  height: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.navbar-github {
  height: 40px;
}

.navbar-github-link {
  padding: 0.5rem;
}

svg:hover path{
  fill: #FFF;
}

.jumbotron {
  display: flex;
  flex-flow: column;
  background: url("bg.jpg") no-repeat fixed center;
  background-size: cover;
}

.container {
  box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
}

.jumbotron .container {
  padding: 0 1rem;
}

.intro {
  margin-bottom: 0px;
  padding-top: 1rem;
  padding-bottom: 0px;
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
}

.logo {
  width: 40%;
  max-width: 350px;
}

.screenshot {
  width: 80%;
  max-width: 1350px;
}

.sources {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
}

.sources>.container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 72px;
  width: 100%;
}

.lastfm {
  font-family: Questrial;
  color: #FAFAFA;
}

.lastfm .container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lastfm .container {
    flex-flow: column;
  }
}

.ganoo {
  font-family: Questrial;
  color: #FAFAFA;
}

.ganoo .container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 8rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .ganoo .container {
    flex-flow: column;
  }
}

.featured {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Questrial;
  color: #FAFAFA;
}

.featured .container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.featured h1 {
  margin-bottom: 36px;
}

.featured a {
  color: #FAFAFA;
  text-decoration: none;
}

.downloads {
  padding-top: 60px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  padding: 5rem 10rem;
}

.downloads h1 {
  color: #FAFAFA;
}

.downloads-container {
  display: flex;
  flex-flow: column;
}

.downloads-row {
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;
}

.downloads-item {
  width: 33%;
}

.downloads-item a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #FAFAFA;
  text-decoration: none;
  font-size: 1.5rem;
  width: 90%;
  border: 1px solid #FAFAFA;
  border-radius: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .downloads {
    padding: 0;
  }
  
  .downloads-container {
    justify-content: center;
    align-items: center;
  }
  
  .downloads-row {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .downloads-item {
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }

  .downloads-item a {
    margin: 0 1rem;
  }
}

.questions {
  margin: 0px;
  padding: 0px;
  font-family: Questrial;
  color: #FAFAFA;
}

.questions .container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 96px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.questions h1 {
  font-size: 48px;
  margin-bottom: 60px;
}

.questions a {
  padding: 16px;
  color: #FAFAFA;
  font-size: 24px;
  border: 1px #FAFAFA solid;
  border-radius: 8px;
  text-decoration: none;
}

.subscribe .container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  text-align: left;
  font-family: Questrial;
  color: #FAFAFA;
  background-color: rgba(0, 0, 0, 0.3);
}

.subscribe-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 8rem 1rem 0;
}

.subscribe-text>h2 {
  margin: 0 0 0.5rem 0;
}

#mc_embed_signup {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .subscribe .container {
    flex-flow: column;
  }

  .subscribe-text {
    padding: 0;
  }

  #mc_embed_signup {
    margin-top: 2rem;
    width: 60%;
  }
}

.clear {
  display: inline-block;
  position: absolute;
  width:  20%;
}

.clear>input {
  padding: 4px 10px 4px 10px;
  background-color: #8d53e7;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  color: #FAFAFA;
  font-size: 18px;
  border: 0px;
  border-radius: 0px 8px 8px 0px;
}

.mc-field-group {
  display: inline-block;
  width: 80%;
}

.mc-field-group>input {
  padding: 4px 10px 4px 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 0px;
  width: 100%;
  font-size: 18px;
  color: #FAFAFA;
  border-radius: 8px 0px 0px 8px;
}

.mc-field-group>label {
  display: none;
}

.footer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #FAFAFA;
  font-variant: small-caps;
}

.footer>.container {
  margin: 0px;
  padding: 8px 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer a {
  color: #FAFAFA;
}


